<html>
<head>
  <title>Shop</title>
</head>
<body id="body_cart_item_index">
<section class="section_1">
<header>
	<h1 id="h1_shopping_bag">SHOPPING BAG</h1>
</header>
<article class="article">
	<table>
	<thead>
	<tr>
		<th >Item Information</th>
		<th id="th_qty">Qty</th>
		<th id="th_price">Price</th>
		<th id="th_remove">Remove</th>
	</tr>
	</thead>
		<tbody id="tbody">
			<%= render partial: 'partialindex'  %>
		</tbody>
	</table>
	<section>
			<div id="summary_text">
				<span>Sub Total<br/>
				Shopping Charge</span><br/>
				<span class="summary_toatal">Total</span>
			</div>
			<div id="summary_details">
					<%= render partial: 'summary_details'  %>
			</div>
	</section>
</article>
</section>
<nav class="nav">

 <%= link_to image_tag("GoTo.png"),edit_user_path(@cartsitems[0].cart)  , :id => "b_check" %>
 <br/>
 	<%= link_to image_tag("Cont.png"),  products_path , :id => "b_continue" %>

 </nav>
</body>
</html>
