<head>
	<link rel="stylesheet" type="text/css" href="cart.css">

</head>

<body id="shippingBody">
<%= form_for @user  ,:url => {:controller => "user", :action => "saveAndGo"}, :method => 'post' do |f|  %>
	<div class="leftDiv">
		<h2><span id="h11">Checkout: </span><span id="h22">Shipping address</span></h2>
		<span >Please provide a shipping address so that we can calculate shipping fees and applicable taxes.</span>
		<br/>
	
		<%= f.label :country, "Country or region" ,:id => "country"%>
		<br/>
		<%=f.select  :country, options_for_select(@listContries), {:class=>"allInput"},:id => "countries"%>
		<br/>
		<%= f.label :firstName, "First name" ,:id => "fn"%>
		<%= f.label :lastName, "Last name" %>
		<br/>
		<%= f.text_field :firstName ,:class=>"allInput" %>
		<%= f.text_field :lastName ,:class=>"allInput" %>
		<br/>
		<%= f.label :streetAddress, "Street address" %>
		<br/>
		<%= f.text_field :streetAddress  ,:class=>"address allInput" ,:id => "address1" %>
		<br/>
		<%= f.text_field :streetAddress  ,:class=>"address allInput" ,:id => "address2" %>
		<%= f.hidden_field(:streetAddress ,:value =>params[:address1].to_s+" "+params[:address2].to_s)%> 
		<br/>
		<%= f.label :city, "City" ,:id => "city"%>
		<%= f.label :state, "State" %>
		<br/>
		<%= f.text_field :city ,:class=>"allInput" ,:id => "inputCity"%>
		<%= f.text_field :state ,:class=>"allInput" ,:id => "state"%>
		<br/>
		<%= f.label :zipCode, "ZIP code" %>
		<br/>
		<%= f.text_field :zipCode ,:class=>"allInput" ,:id => "zip"%>
		<br/>
		<%= f.label :phoneNumber, "Phone number" %>
		<img src="../assets/question_mark.png">
		<br/>
		<%= f.label :phoneNumber, "This will only be used if there are shipping questions",:class=>"comment" %>
		<br/>
		<%= f.text_field :phoneNumber ,:class=>"allInput" ,:id => "phone"%>
		<br/>
		<%= f.label :email, "Email address" %>
		<br/>
		<%= f.label :email, "We'll email you an order confirmation",:class=>"comment" %>
		<br/>
		<%= f.text_field :email ,:class=>"allInput" ,:id => "email"%>
		

	</div>

	<div id="navButtons">
		<label class="fontRightLabels">How do you like our new checkout?</label>
		<br/>
		<a href="" class="fontRightLabels">Tell us what you think</a>
		<div id="sumShipping">
			<label class="someLbl">Subtotal:</label>
			<label id="sum"></label>
			<br/>
			<label class="fontRightLabels">Covered by</label>
			<label id="eBuy">eBay Buyer Protection</label>
		</div>
		<label class="someLbl">Continue to review your order</label>
		<br/>
		<%= f.submit '', :class=>"contBtn"%>
	</div>

	<% end %>
	</div>
</body>

