
<html>
<head>
  <title>Shop</title>
</head>
<body>
<header>
	<h1>Checkout:
	<span>Shopping address</span>
	</h1>
	<span>Please  provide a shipping address so that we can calculate shipping fees and applicable taxes</span>
</header>
<article class="article">
<span>Country or region</span>
<select>
	<option>Israel</option>
	<option>USA</option>
</select>
</article>

</body>
</html>