#cartBody{
	width: 695px;
	font-family: sans-serif;
	margin-left: 20px;
	font-size: 10px;
}
h1{
	font-size: 23px;
	margin-left: 6px;
}
table, th, tr{
    border: 1px solid black;
    width: 460px;
    height: 20px;
}
td{
	border-right:  1px solid black;
	border-bottom:  1px solid black;
}

#left{
	float: left;
	width: 476px;
}
#right{
	float: right;
	padding-top: 20px;
	padding-left: 20px;
}
.navButtons{
	width: 182px;
	height: 28px;
}
#totalRow{
	border: 2px solid #7EA207;
	width: 460px;
	border-right:0px; 
	height: 63px;
}
#sumDescription{
	text-align: right;
	border-right: 10px solid #7EA207;
	width: 205px;
	float: left;
	padding-right: 10px;

}
#sumNumbers{
	float: right;
	width: 235px;
	background-color: #EAEAEA;
	text-align: center;
}
.divsInTotal{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 43px;
}
.descriptionFont{
	font-size: 9px;
	font-weight: bold;
	background-color: #E3E3E3;
}
.total{
	font-weight: bold;
	font-size: 12px;
}
#chooseQuantity{
	width: 46px;
	height: 18px;
	font-size: 10px;
	margin-left: 8px;
	margin-right: 9px;
}
#quantity{
	width: 60px;
}
#price{
	width: 78px;
}
#priceLbl{
	float: right;
}
#removeBtn{
	width: 56px; 
}
.remove{
	width: 16px;
	height: 16px;
	margin-left: 20px;
	margin-right: 20px;
	
}
#removeButton{
	border: 0px;
	box-shadow: 0px;
}
#imgOfProduct{
	width:60px;
	float: left;
	margin-right: 12px;
}
#description{
	width: 265px;
	padding: 12px 6px;
}
#codeOfProduct{
	padding-top: 20px;
}
#descriptionOfProd{
	font-weight: bold;
}
#productItemInCart{
	border:1px solid gray;
}
.code{
	
}