// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
html
{
	direction: ltr;
}
body
{
	direction: rtl;
	line-height: 1em;
	text-align: right;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ul 
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after 
{
	content: '';
	content: none;
}
ins 
{
	text-decoration: none;
}
del 
{
	text-decoration: line-through;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
*/


body{
font-family: "padauk book";
width: 966px;
height: 400px;
margin: auto;
}

h1{
	font-weight: 100;
margin: 10px 0px 0px 10px;
}
.article{
	float:left;
}
.trItem{


}
.divItemInfo{
	width: 394px;
height: 162px;
}
.imgItem{
width: 95px;
height: 130px;
float: left;
margin: 15px 12px 15px 10px;
}
.ItemInfoDivText{
width: 214px;
float: left;
margin: 15px 14px 0px 0px;
}
.ItemInfoText{
margin-top: 0px;
font-weight: 800;
}
.ItemInfoId{
	
}
table{
	border-collapse: collapse;
	margin-left: 15px;
}

table td,th
{
    border: 1px solid #A8A8A8;
}
table th
{
text-align: left;
background-color: #e3dcdc;
	border-bottom-color: white;
	padding-left: 6px;
}
#thQty{width: 67px;}
		#thPrice{width: 85px;}
	#thRemove{width: 67px;}
#SummaryText{
	border: 3px solid #5a9334;
border-right-width: 8px;
width: 309px;
float: left;
text-align: right;
padding-right: 10px;
margin-left: 15px
}
#SummaryDetails{
	border: 3px solid #5a9334;
border-right-width: 0px;
float: left;
background-color: rgb(234, 233, 233);
text-align: right;
padding-right: 155px;
width: 140px;
}
.SummaryToatal{
	font-weight: bold;
	font-size: 20px;
}
.nav{
width: 281px;
	float:left;
}
#bCheck{
background-image: url(Images/GoTo.png);
width: 171px;
height: 33px;
margin-left: 20px;
margin-top: 10px;
}
#bCont{
	width: 171px;
height: 33px;
margin-left: 20px;
margin-top: 10px;
}