// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#fmProducts {	
    width:720px; 
	height:585px;
}

#DivProduct {
	
	margin-bottom: 15px;
    padding-bottom: 30px;
    padding-top: 15px;
	padding-left:28px;
	float:left;
	width:145px; 
	height:220px;
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
}

#lblPriceIn {
	font-weight: bold;
}

#lblDescIn {
	color:gray;
}

#frmChooseProduct {
	font-family: arial, verdana, sans-serif;
	width: 870px;
	height: 480px;
}


#DvImgProduct {
	width: 305px;
	height: 460px;
	border-color: gray;
    border-width: 1px; 
    border-style: solid;
    margin-right: 115px;
    float: left;
}

.DscPrcSh {
	font-size: 13px;
	font-weight: bold;
}

#lblPrcSh {
	float: right;
}

#DvAcountSh { 
	padding-top: 30px;
	float: left;
}

#btnAddTo {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 240px;
	float: right;
}

#DvAmountPr{
	width: 440px;
	height: 60px;
	border-color: gray;
    border-width: 1px; 
    border-style: solid;
    display: none;
}

button{
	padding: 3px;
	margin-right: 200px;
	float: right;
}


#div1{
	width: 440px;
	height: 60px;
	border-color: gray;
    border-width: 1px; 
    border-style: solid;
}
