// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
color:rgb(69, 70, 68);;

font-family: "padauk book";
width: 966px;
height: 400px;
margin: auto;
padding: 3px 5px 4px 20px;
}
#h1_user_checkout{
margin: 7px 0px 0px 10px;
font-size: 24px;
font-family: "Liberation Serif";
font-weight: 100;
}
#span_checkout {
font-weight: 900;;
}
#span_please{
	font-size: 12px;
	margin-left: 11px;
}
#section_details{
	float:left
}
p{
	margin: 6px 10px 0px 10px;
}
#p_first_name, #p_city{
	float:left;
}
input ,select{
	height: 30px;
}

#p_address input{
	width: 480px;
}
#p_address input:nth-child(5){
	margin-top: 8px;

}
#p_country select{
	width: 293px;
}

#p_last_name input, #p_first_name input{
	width: 233px;
}
#p_phone input {
	width: 159px;
}
#p_zip input {
	width: 109px;
}
#p_email input {
	width: 323px;
}
#p_phone span ,#p_email span {
	font-size: 11px;
	color: #b2b2b2;
	display: inherit;
	margin-top: -6px;
	margin-bottom: -22px;
}

.edit_user label{
font-family: 'Ubuntu Light';
font-size: 15px;
}

#section_continue{
float: right;
text-align: right;
margin-top: 5px;
}

#div_subtotal{
padding-right: 11px;
margin-top: 12px;
width: 305px;
height: 61px;
float: none;
background-image: -webkit-linear-gradient(top ,rgb(237, 237, 237) 0%, rgb(253, 253, 253) 100%);
border-top: 3px solid rgb(160, 160, 160);
border-bottom: 3px solid rgb(239, 239, 239);
}

#section_continue p{
font-size: 14px;
margin: -5px;
}

#section_continue p:nth-child(2){
color: #3065cf;
}

#span_sub_total_text{
	font-weight: 900;

}

#span_sub_total{
font-weight: 900;
font-size: 22px;
margin-left: 5px;
}
#span_covered_by{font-size: 12px;}
#span_ebay{
color: #3065cf;
font-weight: 900;
}

#button_continue{
height: 43px;
width: 157px;
	margin-top: 8px;

background:url(Continue.png); 
}