<ul>
	<% @products.each do |product| %>
		<li class="indexLi">
			<%= link_to image_tag(product.thumbnail, :class => 'indexImage'), url_for({ :action => 'show', :id => product.id}) %>
			<div class="indexDiscription">
			 	<%= product.description %>
			</div>
			<p class="indexPrice" >
				<%= product.price %>
				<span>$</span>
			</p>
		</li>
	<%end%>
</ul>