<html>

<head>

</head>


<body>

	<label id="fn">First name</label>
	<br/>
	<input  class="name allInput" type="text"></input>
	<br/>
	<label>Last name</label>
	<br/>
	<input  class="name allInput" type="text"></input>
	<br/>
	<label>Email address</label>
	<br/>
	<label class="comment">We'll email you an order confirmation</label>
	<br/>
	<input class="allInput" id="email" type="text"></input>
	<br/>
	<button onclick='userid'>continue</button>

</body>
 
</html>
	

