
<div>
<%= image_tag(@product.thumbnail, :alt=>'product', :class => 'bigImage')%>
</div>
<div class="showDetails">
	<div><p><%= @product.description %></p></div>
	<div class="showPrice"><p><%= @product.price %></p></div>
	<p>Quantity:</p>
	<imput type="text" id="count" class="inputtext" text="1"/>

	<%= link_to image_tag('AddTo.png', :class => 'button'),{ :action => 'create',:id => @product.id}, :method => :post %>

	<p><% @product.description%></p>

</div>
