<img class="bigImage" url="example.jpg" alt"product"/>
<div class="showDetails">
	<p><%= @product.discroption %></p>
	<p class="showPrice"><%= @product.price %></p>
	<p>Quantity:</p>
	<imput type="text"/>
	<div class="addButton">
		<img url="" alt"add to bag"/>
	</div>
	<div>
		<p><% @product.note%></p>
	</div>
</div>
